<footer>
    <div class="row">
        <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos fugiat iste harum. Voluptatibus architecto
                aut incidunt, quam tempora a quisquam, libero tempore, voluptas placeat perferendis expedita possimus
                nisi dolore. Vero.</p>
        </div>

        <div class="col-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ex, omnis assumenda at voluptatibus, aliquid
                mollitia quae consequuntur obcaecati fugit maiores quibusdam sapiente vel sit maxime. Dolorum temporibus
                illo eius?</p>
        </div>
    </div>
</footer>