header {
  height: 150px;
  background: #2980B9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(109, 212, 250, 0.5), rgba(41, 127, 185, 0));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(41, 127, 185, 0));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}

button {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
