<aside>
    <h2>Aside</h2>
    <hr>
    <ul>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi cupiditate maiores in, exercitationem quod,
            molestiae id aperiam iusto saepe quidem quis itaque magnam recusandae eum quae. Quis molestiae sunt illo.</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt ea assumenda fugit? Dolorem magni ullam
            incidunt omnis quibusdam nulla numquam, praesentium debitis ab dolor vitae odio at sunt saepe animi!</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sapiente illum quia obcaecati optio
            numquam maxime nam nemo quisquam doloribus eligendi, velit quod. Accusantium nulla voluptatum debitis,
            corporis nam commodi!</li>
    </ul>
</aside>